*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #FFF;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  font-family: "Inter", sans-serif;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  background-color: #F3F1EC;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  --bg-green: #444237B2;
  --bg-light: #F3F1EC;
  --green: #9EAF7C;
  --black: #4B4B4B;
  --white: #FFF;
}

.font_msp {
  font-family: "Philosopher", sans-serif;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz24 {
  font-size: 24px;
}

.fz26 {
  font-size: 26px;
}

.fz28 {
  font-size: 28px;
}

.fz34 {
  font-size: 34px;
}

.fz50 {
  font-size: 50px;
}

.fz70 {
  font-size: 70px;
}

.fz80 {
  font-size: 80px;
}

.fz100 {
  font-size: 100px;
}

.header {
  color: var(--white);
  background-image: url(/img/bg/bg-header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-color: var(--bg-green);
  background-blend-mode: multiply;
  padding: 30px 0 0 0;
}
.header__footer {
  margin-top: 55px;
  background-image: url(/img/icons/heart.svg);
  height: 19px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-main__list {
  display: flex;
}
.menu-main__item {
  cursor: pointer;
  color: var(--white);
  font-weight: 500;
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
}
.menu-main__item:last-child {
  margin-right: 0px;
}
.menu-main__item :hover {
  color: var(--green);
  text-decoration-line: underline;
}

.social-media {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.social-media__img {
  text-decoration: none;
}

.title {
  color: var(--white);
  font-weight: 300;
  text-align: start;
  margin-top: 70px;
}

.subtitle {
  color: var(--white);
  font-weight: 400;
  margin-top: 15px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.section {
  padding: 30px 0 0 0;
}
.section__title {
  color: #4B4B4B;
  font-weight: 400;
}

.button {
  color: var(--white);
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  min-width: 560px;
  min-height: 68px;
  border-radius: 20px;
  background: var(--green);
  display: inline-block;
  padding: 20px 0;
  margin-top: 70px;
}

.advantages {
  margin-top: 90px;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.advantages__item-wrapper {
  -moz-column-gap: 6px;
       column-gap: 6px;
  display: flex;
  align-items: center;
}
.advantages__img {
  max-width: 81px;
  border-radius: 50%;
  background-color: var(--green);
  padding: 20px;
  flex: 0 0 auto;
  margin-right: 10px;
}
.advantages__txt {
  color: var(--white);
  font-weight: 300;
  flex: 1;
}

.history__desc {
  margin: 10px 25px 0 0;
  display: flex;
}

.history-item__wrapper {
  position: relative;
  min-width: 490px;
  min-height: 200px;
}
.history-item__oval {
  position: absolute;
  width: 480px;
  height: 126px;
  border: 1px solid #9EAF7C;
  border-radius: 50%;
}
.history-item .oval-center {
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.history-item .oval-angle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg);
}
.history-item .even {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
}
.history-item__title {
  color: #9EAF7C;
  text-align: center;
  color: var(--green);
  font-weight: 700;
}
.history-item .low-font {
  font-size: 50px;
}
.history-item__subtitle {
  color: var(--black);
  text-align: center;
  font-weight: 300;
}

/*font-family: 'Inter', sans-serif;*/
/*font-family: 'Philosopher', sans-serif;*//*# sourceMappingURL=style.css.map */