*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #FFF;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
  font-family: "Inter", sans-serif;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
  background-color: #F3F1EC;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  --bg-green: #444237B2;
  --bg-light: #F3F1EC;
  --green: #9EAF7C;
  --black: #4B4B4B;
  --white: #FFF;
}

.font_msp {
  font-family: "Philosopher", sans-serif;
}

.fz14 {
  font-size: 14px;
}

.fz12 {
  font-size: 12px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz24 {
  font-size: 24px;
}

.fz26 {
  font-size: 26px;
}

.fz28 {
  font-size: 28px;
}

.fz34 {
  font-size: 34px;
}

.fz42 {
  font-size: 42px;
}

.fz50 {
  font-size: 50px;
}

.fz70 {
  font-size: 70px;
}

.fz80 {
  font-size: 80px;
}

.fz100 {
  font-size: 100px;
}

.header {
  color: var(--white);
  background-image: url(/img/bg/bg-header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-color: var(--bg-green);
  background-blend-mode: multiply;
  padding: 30px 0 0 0;
}
.header__footer {
  margin-top: 9%;
  background-image: url(/img/icons/heart.svg);
  height: 19px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  gap: 20px;
}
@media screen and (max-width: 1031px) {
  .header__menu {
    gap: 16px;
  }
}
@media screen and (max-width: 823px) {
  .header__menu {
    gap: 13px;
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    padding: 0 15px 0 15px;
  }
}
@media screen and (max-width: 450px) {
  .header__menu {
    position: relative;
  }
}
.header__menu-icon {
  cursor: pointer;
  display: none;
  margin-right: -75%;
}
@media screen and (max-width: 450px) {
  .header__menu-icon {
    display: block;
  }
}

.header__menu-logo {
  width: 13%;
}

@media screen and (max-width: 450px) {
  .menu-main {
    display: none;
    position: fixed;
    top: 60px;
    left: -250px;
    background-color: #333;
    width: 250px;
    height: 100px;
    padding-top: 60px;
    transition: left 0.3s ease;
  }
}
.menu-main__list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .menu-main__list {
    margin-left: -50px;
  }
}
.menu-main__item {
  cursor: pointer;
  color: var(--white);
  font-weight: 500;
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
}
.menu-main__item:last-child {
  margin-right: 0px;
}
.menu-main__item :hover {
  color: var(--green);
  text-decoration-line: underline;
}
@media screen and (max-width: 1140px) {
  .menu-main__item {
    font-size: 1em;
  }
}
@media screen and (max-width: 1024px) {
  .menu-main__item {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 823px) {
  .menu-main__item {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 767px) {
  .menu-main__item {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 640px) {
  .menu-main__item {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .menu-main.show {
    display: flex;
  }
}

.social-media {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 13%;
}
@media screen and (max-width: 1024px) {
  .social-media {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media screen and (max-width: 740px) {
  .social-media {
    -moz-column-gap: 3px;
         column-gap: 3px;
  }
}
@media screen and (max-width: 640px) {
  .social-media {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
}
@media screen and (max-width: 450px) {
  .social-media {
    visibility: hidden;
  }
}
.social-media__img {
  text-decoration: none;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .social-media__img {
    max-width: 89%;
  }
}
@media screen and (max-width: 767px) {
  .social-media__img {
    max-width: 77%;
  }
}

.title {
  color: var(--white);
  font-weight: 300;
  text-align: start;
  margin-top: 70px;
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 43px;
  }
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 34px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 31px;
  }
}

.subtitle {
  color: var(--white);
  font-weight: 400;
  margin-top: 15px;
}
@media screen and (max-width: 1024px) {
  .subtitle {
    font-size: 73px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .subtitle {
    font-size: 60px;
    margin-top: -3px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 640px) {
  .subtitle {
    font-size: 54px;
  }
}
@media screen and (max-width: 450px) {
  .subtitle {
    font-size: 51px;
    margin-top: 1%;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}
@media screen and (max-width: 792px) {
  .container {
    padding: 0 10px 20px 0;
  }
}
@media screen and (max-width: 450px) {
  .container {
    padding: 20px 29px;
  }
}

.section {
  padding: 30px 0 0 0;
}
.section__title {
  color: #4B4B4B;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .section__title {
    font-size: 63px;
  }
}
@media screen and (max-width: 450px) {
  .section__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 740px) {
  .section__title-change {
    margin-left: -90px;
  }
}

.button {
  color: var(--white);
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  min-width: 560px;
  min-height: 68px;
  border-radius: 20px;
  background: var(--green);
  display: inline-block;
  padding: 20px 0;
  margin-top: 70px;
}
@media screen and (max-width: 1000px) {
  .button {
    min-width: 450px;
    min-height: 63px;
  }
}
@media screen and (max-width: 767px) {
  .button {
    min-width: 393px;
    min-height: 58px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 640px) {
  .button {
    min-width: 345px;
  }
}
@media screen and (max-width: 450px) {
  .button {
    width: 300px;
    margin-left: 29px;
  }
}

.advantages {
  margin-top: 90px;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 450px) {
  .advantages__list {
    flex-direction: column;
    margin-left: 29px;
    gap: 15px;
  }
}
.advantages__item-wrapper {
  -moz-column-gap: 6px;
       column-gap: 6px;
  display: flex;
  align-items: center;
}
.advantages__img {
  max-width: 81px;
  border-radius: 50%;
  background-color: var(--green);
  padding: 20px;
  flex: 0 0 auto;
  margin-right: 10px;
}
@media screen and (max-width: 1000px) {
  .advantages__img {
    max-width: 70px;
  }
}
@media screen and (max-width: 740px) {
  .advantages__img {
    min-width: 61px;
  }
}
@media screen and (max-width: 640px) {
  .advantages__img {
    max-width: 61px;
  }
}
.advantages__txt {
  color: var(--white);
  font-weight: 300;
  flex: 1;
  font-size: 1.3rem;
}
@media screen and (max-width: 1024px) {
  .advantages__txt {
    font-size: 1em;
  }
}
@media screen and (max-width: 767px) {
  .advantages__txt {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 640px) {
  .advantages__txt {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .advantages__txt {
    font-size: 18px;
  }
}

.history__wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
.history__desc {
  display: flex;
}
.history__make-order-link {
  margin-top: 7px;
  min-width: 560px;
}
.history__photo {
  width: 100%;
}

.history-item {
  width: 87%;
}
.history-item__wrapper {
  position: relative;
}
.history-item__desc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4%;
}
.history-item__title {
  color: #9EAF7C;
  text-align: center;
  color: var(--green);
  font-weight: 700;
}
.history-item__subtitle {
  color: var(--black);
  text-align: center;
  font-weight: 300;
}

.photo__img {
  width: 100%;
}

@media screen and (max-width: 740px) {
  .about {
    margin-top: 25px;
  }
}
.about__wrapper {
  position: relative;
}
.about__item {
  position: absolute;
}
.about__item-z1 {
  top: -24%;
  left: 0%;
  z-index: 2;
}
.about__item-z2 {
  z-index: 1;
  top: -18%;
  right: 3%;
}
.about__item-z3 {
  z-index: 2;
  bottom: 18%;
  right: 10%;
}
@media screen and (max-width: 1280px) {
  .about__item-z2 {
    top: -21%;
    right: -1%;
  }
  .about__item-z3 {
    bottom: 22%;
    right: -3%;
  }
}
@media screen and (max-width: 1076px) {
  .about__item-z2 {
    top: -21%;
    right: -1%;
  }
  .about__item-z3 {
    bottom: 22%;
    right: -3%;
  }
}
@media screen and (max-width: 1024px) {
  .about__item-z2 {
    top: -21%;
    right: -1%;
  }
  .about__item-z3 {
    bottom: 22%;
    right: -3%;
  }
}
.about__image {
  margin-top: 200px;
  position: relative;
  z-index: 1;
}
.about__item-wrapper {
  width: 459px;
  height: 180px;
  border-radius: 20px;
  border: 1px solid #C3BEBE;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(223, 224, 226, 0.2) 0.01%, rgba(143, 145, 149, 0.2) 100%);
  box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
}
@media screen and (max-width: 1280px) {
  .about__item-wrapper {
    width: 390px;
    height: 160px;
  }
}
@media screen and (max-width: 1076px) {
  .about__item-wrapper {
    width: 390px;
    height: 160px;
  }
}
@media screen and (max-width: 1024px) {
  .about__item-wrapper {
    width: 390px;
    height: 160px;
  }
}
.about__item-svg {
  width: 42px;
  height: 42px;
  background-color: var(--green);
  border-radius: 50%;
  position: relative;
  margin: 10px 0 0 10px;
}
@media screen and (max-width: 740px) {
  .about__item-svg {
    width: 32px;
    height: 32px;
  }
}
.about__item-svg::before, .about__item-svg::after {
  content: "";
  position: absolute;
  background-color: white;
}
.about__item-svg::before {
  top: 50%;
  left: 4px;
  width: 34px;
  height: 1px;
}
@media screen and (max-width: 740px) {
  .about__item-svg::before {
    left: 1px;
    width: 32px;
  }
}
.about__item-svg::after {
  left: 50%;
  top: 4px;
  width: 1px;
  height: 34px;
}
@media screen and (max-width: 740px) {
  .about__item-svg::after {
    top: 1px;
    height: 32px;
  }
}
.about__item-title {
  color: var(--black);
  padding: 0px 0 10px 63px;
  margin-top: -23px;
}
@media screen and (max-width: 1280px) {
  .about__item-title {
    font-size: 26px;
  }
}
@media screen and (max-width: 1076px) {
  .about__item-title {
    font-size: 26px;
  }
}
@media screen and (max-width: 1024px) {
  .about__item-title {
    font-size: 26px;
  }
}
@media screen and (max-width: 740px) {
  .about__item-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  .about__item-title {
    font-size: 19px;
  }
}
@media screen and (max-width: 450px) {
  .about__item-title {
    font-size: 26px;
  }
}
.about__item-subtitle {
  color: var(--black);
  padding-left: 63px;
}
@media screen and (max-width: 1280px) {
  .about__item-subtitle {
    font-size: 17px;
  }
}
@media screen and (max-width: 1076px) {
  .about__item-subtitle {
    font-size: 17px;
  }
}
@media screen and (max-width: 1024px) {
  .about__item-subtitle {
    font-size: 17px;
  }
}
@media screen and (max-width: 740px) {
  .about__item-subtitle {
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  .about__item-subtitle {
    font-size: 10px;
  }
}
@media screen and (max-width: 450px) {
  .about__item-subtitle {
    font-size: 16px;
  }
}
.about__make-order-link {
  position: relative;
  top: -108px;
  z-index: 2;
}
@media screen and (max-width: 450px) {
  .about__make-order-link {
    display: none;
  }
}

.about__item-subtitle b {
  font-weight: 600;
  color: var(--black);
}

@media screen and (max-width: 450px) {
  .catalog {
    margin-top: 325px;
  }
}
.catalog__slider-photo {
  width: 100%;
}
@media screen and (max-width: 740px) {
  .catalog__slider-photo {
    width: 65%;
  }
}
@media screen and (max-width: 450px) {
  .catalog__slider-photo {
    width: 76%;
  }
}
.catalog__slider-img {
  width: 100%;
}
@media screen and (max-width: 740px) {
  .catalog__slider-img {
    width: 99;
  }
}
.catalog__button-wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 740px) {
  .catalog__make-order-link {
    width: 477px;
  }
}
@media screen and (max-width: 640px) {
  .catalog__make-order-link {
    width: 399px;
  }
}
@media screen and (max-width: 450px) {
  .catalog__make-order-link {
    margin-left: 11px;
  }
}

.glide {
  margin-top: 30px;
}
.glide__slide {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .glide__arrows {
    visibility: hidden;
  }
}

.glide__arrow--right {
  right: 1.5em;
}

.application {
  background-image: url(/img/bg/form-bg.png);
  background-repeat: round;
  background-size: 100% auto;
  background-color: var(--bg-green);
  background-blend-mode: multiply;
  margin-top: 50px;
}
@media screen and (max-width: 1200px) {
  .application {
    background-repeat: round;
  }
}
@media screen and (max-width: 740px) {
  .application {
    margin-top: 60px;
    position: relative;
    background-size: cover;
    background-position: center;
  }
}
.application__decor {
  background-image: url(/img/icons/heart_d.svg);
  height: 4rem;
  margin-top: -52px;
  background-repeat: repeat-x;
}
@media screen and (max-width: 740px) {
  .application__decor {
    left: 0;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    height: 104px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 640px) {
  .application__decor {
    height: 97px;
  }
}
.application__headers {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 640px) {
  .application__headers {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .application__title {
    font-size: 45px;
  }
}
@media screen and (max-width: 740px) {
  .application__title {
    font-size: 40px;
    margin-top: 36px;
  }
}
@media screen and (max-width: 640px) {
  .application__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  .application__title {
    font-size: 32px;
  }
}
.application__subtitle {
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .application__subtitle {
    margin-top: 4px;
  }
}
@media screen and (max-width: 740px) {
  .application__subtitle {
    font-size: 40px;
  }
}
@media screen and (max-width: 640px) {
  .application__subtitle {
    font-size: 36px;
  }
}
@media screen and (max-width: 640px) {
  .application__subtitle {
    font-size: 24px;
  }
}
.application__undersubtitle {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .application__undersubtitle {
    font-size: 73px;
    line-height: 60px;
  }
}
@media screen and (max-width: 740px) {
  .application__undersubtitle {
    font-size: 65px;
  }
}
@media screen and (max-width: 640px) {
  .application__undersubtitle {
    font-size: 45px;
    margin-top: -9px;
  }
}
@media screen and (max-width: 640px) {
  .application__undersubtitle {
    font-size: 32px;
  }
}
.application__form {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 560px;
}
@media screen and (max-width: 1000px) {
  .application__form {
    width: 503px;
  }
}
@media screen and (max-width: 740px) {
  .application__form {
    width: 446px;
  }
}
@media screen and (max-width: 640px) {
  .application__form {
    width: 403px;
  }
}
@media screen and (max-width: 450px) {
  .application__form {
    width: 300px;
    margin-left: 44px;
  }
}
.application__input {
  display: flex;
  padding: 19px 0px 19px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background: var(--white);
}
@media screen and (max-width: 450px) {
  .application__input {
    height: 48px;
  }
}
.application__phone {
  margin-top: 20px;
}
.application__comment {
  margin-top: 20px;
  min-height: 110px;
}
.application__agreement {
  margin-top: 31px;
}
@media screen and (max-width: 640px) {
  .application__agreement {
    font-size: 10px;
  }
}
.application b {
  color: var(--green);
}
.application__make-order-link {
  margin-top: 40px;
}
.application__footer {
  background-image: url(/img/icons/heart.svg);
  margin-top: 6%;
  height: 1rem;
}
@media screen and (max-width: 450px) {
  .application__make-order-link {
    width: 300px;
    margin-left: -19px;
  }
}

.application__input:nth-child(3) {
  border-radius: 20px;
}
@media screen and (max-width: 450px) {
  .application__input:nth-child(3) {
    height: 110px;
  }
}

.contact__map {
  margin-top: 60px;
}/*# sourceMappingURL=style.css.map */