.about {
    @media screen and (max-width: 740px) {
        margin-top: 25px;
    }
    &__wrapper {
        position: relative;
    }
    &__item {
        position: absolute;
        &-z1 {
            top: -24%;
            left: 0%;
            z-index: 2;
        }
        &-z2 {
            z-index: 1;
            top: -18%;
            right: 3%;
        }
        &-z3 {
            z-index: 2;
            bottom: 18%;
            right: 10%;
        }
    }

    @media screen and (max-width: 1280px) {
        &__item {
            &-z2 {
                top: -21%;
                right: -1%;
            }
            &-z3 {
                bottom: 22%;
                right: -3%;
            }
        }    
    }
    @media screen and (max-width: 1076px) {
        &__item {
            &-z2 {
                top: -21%;
                right: -1%;
            }
            &-z3 {
                bottom: 22%;
                right: -3%;
            }
        }    
    }
    @media screen and (max-width: 1024px) {
        &__item {
            &-z2 {
                top: -21%;
                right: -1%;
            }
            &-z3 {
                bottom: 22%;
                right: -3%;
            }
        }    
    }
    &__image {
        margin-top: 200px;
        position: relative;
        z-index: 1;
    }
    &__item-wrapper {
        width: 459px;
        height: 180px;
        border-radius: 20px;
        border: 1px solid #C3BEBE;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
        box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
        backdrop-filter: blur(10.5px); 
        @media screen and (max-width: 1280px) {
            width: 390px;
            height: 160px;
        }
        @media screen and (max-width: 1076px) {
            width: 390px;
            height: 160px;
        }
        @media screen and (max-width: 1024px) {
            width: 390px;
            height: 160px;
        }
    }
    &__item-svg {
        width: 42px;
        height: 42px;
        background-color: var(--green);
        border-radius: 50%; 
        position: relative;
        margin: 10px 0 0 10px;
        @media screen and (max-width: 740px) {
            width: 32px;
            height: 32px;
        }
    }
    &__item-svg::before,
    &__item-svg::after {
        content: '';
        position: absolute;
        background-color: white;
    }
    &__item-svg::before {
        top: 50%;
        left: 4px; 
        width: 34px; 
        height: 1px;
        @media screen and (max-width: 740px) {
            left: 1px;
            width: 32px;
        }
    }
    &__item-svg::after {
        left: 50%;
        top: 4px; 
        width: 1px; 
        height: 34px;
        @media screen and (max-width: 740px) {
            top: 1px;
            height: 32px;
        }
    }
    &__item-title {
        color: var(--black);
        padding: 0px 0 10px 63px;
        margin-top: -23px;
        @media screen and (max-width: 1280px) {
            font-size: 26px;
        }
        @media screen and (max-width: 1076px) {
            font-size: 26px;
        }
        @media screen and (max-width: 1024px) {
            font-size: 26px;
        }
        @media screen and (max-width: 740px) {
            font-size: 20px;
        }
        @media screen and (max-width: 640px) {
            font-size: 19px;
        }
        @media screen and (max-width: 450px) {
            font-size: 26px;
        }
    }
    &__item-subtitle {
        color: var(--black);
        padding-left: 63px;
        @media screen and (max-width: 1280px) {
            font-size: 17px;
        }
        @media screen and (max-width: 1076px) {
            font-size: 17px;
        }
        @media screen and (max-width: 1024px) {
            font-size: 17px;
        }
        @media screen and (max-width: 740px) {
            font-size: 12px;
        }
        @media screen and (max-width: 640px) {
            font-size: 10px;
        }
        @media screen and (max-width: 450px) {
            font-size: 16px;
        }
    }
    &__make-order-link {
        position: relative;
        top:-108px;
        z-index: 2;
        @media screen and (max-width: 450px) {
            display: none;
        }    
    }
}   
.about__item-subtitle {
    b{
     font-weight: 600;  
     color: var(--black); 
    }
}
