.about {
    &__wrapper {
        position: relative;
    }
    &__image {
        background-image: url(/img/bg/about.png);
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 253px;
        z-index: 1;
    }
    &__item {
        position: absolute;
        z-index: 2;
    }
    &__item-wrapper {
        max-width: 459px;
        border-radius: 20px;
        border: 1px solid #C3BEBE;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
        box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
        backdrop-filter: blur(10.5px); 
    }
    &__item-svg {
        width: 42px;
        height: 42px;
        background-color: var(--green);
        border-radius: 50%; /* Делает элемент круглым */
        position: relative;
    }
    &__item-svg::before,
    &__item-svg::after {
        content: '';
        position: absolute;
        background-color: white;
    }
    &__item-svg::before {
        top: 50%;
        left: 4px; 
        width: 34px; 
        height: 1px;
    }
    &__item-svg::after {
        left: 50%;
        top: 4px; 
        width: 1px; 
        height: 34px;
    }
}
