.about {
    @media screen and (max-width: 740px) {
        margin-top: 25px;
    }
    &__wrapper {
        position: relative;
    }
    &__item {
        position: absolute;
        &-z1 {
            top: -144px;
            left: 0px;
            z-index: 2;
        }
        &-z2 {
            z-index: 1;
            top: -100px;
            right: 88px;
            @media screen and (max-width: 740px) {
                top: -88px;
            }
        }
        &-z3 {
            z-index: 2;
            bottom: 107px;
            right: 199px;
            @media screen and (max-width: 1000px) {
                right: 28px;
            }
        }
        @media screen and (max-width: 1200px) {
            &-z2 {
                right: 5px;
                top: -114px;
            }
            &-z3 {
                right: 59px;
            }
        }
        @media screen and (max-width: 740px) {
            &-z1 {
                top: -101px;
            }
            &-z2 {
                top: -88px
            }
            &-z3 {
                right: -16px;
            }
        }
        @media screen and (max-width: 450px) {
            &-z1 {
                top: -125px;
                left: 50px;
            }
            &-z2 {
                top:152px;
                left:50px;
            }
            &-z3 {
                top: 433px;
                left: 50px;
            }
        }
    }
    &__image {
        margin-top: 200px;
        position: relative;
        z-index: 1;
    }
    &__item-wrapper {
        width: 459px;
        height: 180px;
        border-radius: 20px;
        border: 1px solid #C3BEBE;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(223, 224, 226, 0.20) 0.01%, rgba(143, 145, 149, 0.20) 100%);
        box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.11);
        backdrop-filter: blur(10.5px); 
        @media screen and (max-width: 1000px) {
            width: 391px;
            height: 160px;
        }
        @media screen and (max-width: 740px) {
            width: 286px;
            height: 128px;
        }
        @media screen and (max-width: 640px) {
            width: 248px;
            height: 114px;
        }
        @media screen and (max-width: 450px) {
            width: 300px;
            height: 180px;
        }
        
    }
    &__item-svg {
        width: 42px;
        height: 42px;
        background-color: var(--green);
        border-radius: 50%; 
        position: relative;
        margin: 10px 0 0 10px;
        @media screen and (max-width: 740px) {
            width: 32px;
            height: 32px;
        }
    }
    &__item-svg::before,
    &__item-svg::after {
        content: '';
        position: absolute;
        background-color: white;
    }
    &__item-svg::before {
        top: 50%;
        left: 4px; 
        width: 34px; 
        height: 1px;
        @media screen and (max-width: 740px) {
            left: 1px;
            width: 32px;
        }
    }
    &__item-svg::after {
        left: 50%;
        top: 4px; 
        width: 1px; 
        height: 34px;
        @media screen and (max-width: 740px) {
            top: 1px;
            height: 32px;
        }
    }
    &__item-title {
        color: var(--black);
        padding: 0px 0 10px 63px;
        margin-top: -23px;
        @media screen and (max-width: 1000px) {
            font-size: 26px;
        }
        @media screen and (max-width: 740px) {
            font-size: 20px;
        }
        @media screen and (max-width: 640px) {
            font-size: 19px;
        }
        @media screen and (max-width: 450px) {
            font-size: 26px;
        }
    }
    &__item-subtitle {
        color: var(--black);
        padding-left: 63px;
        @media screen and (max-width: 1000px) {
            font-size: 17px;
        }
        @media screen and (max-width: 740px) {
            font-size: 12px;
        }
        @media screen and (max-width: 640px) {
            font-size: 10px;
        }
        @media screen and (max-width: 450px) {
            font-size: 16px;
        }
    }
    &__make-order-link {
        position: relative;
        top:-108px;
        z-index: 2;
        @media screen and (max-width: 450px) {
            visibility: hidden;
        }    
    }
    
}

.about__item-subtitle {
    b{
     font-weight: 600;  
     color: var(--black); 
    }
}
