.advantages {
    margin: 90px ;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    &__wrapper {
        column-gap: 25px;
    }
    &__img {
        max-width: 81px;
        border-radius: 50%;
        background-color: #9EAF7C;
        padding: 20px;

    }
    &__img-svg {
        

        

    }
}

