.advantages {
    margin-top: 90px ;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    &__item-wrapper {
        column-gap: 6px;
        display: flex;
        align-items: center;
    }
    &__img {
        max-width: 81px;
        border-radius: 50%;
        background-color: var(--green);
        padding: 20px;
        flex: 0 0 auto;
        margin-right: 10px;
        @media screen and (max-width: 1000px) {
            max-width: 70px;
        }
    }
    &__txt {
        color: var(--white);
        font-weight: 300; 
        flex: 1;
        @media screen and (max-width: 1000px) {
            font-size: 21px;   
        }
    }
}

