.application {
    background-image: url(/img/bg/form-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: var(--bg-green);
    background-blend-mode: multiply;
    margin-top: 50px;
    @media  screen and (max-width: 1200px) {
        background-repeat: round;
    }
    @media screen and (max-width: 740px) {
        margin-top: 60px;
        position: relative;
        background-size: cover;
        background-position: center ;
    }
    
    &__decor {
        background-image: url(/img/icons/heart_d.svg);
        height: 70px;
        margin-top: -52px;
        background-repeat: repeat-x;
        @media screen and (max-width: 740px) {
            left: 0;
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            height: 40px;
            margin-top: 0px;
        }
        @media screen and (max-width: 640px) {
              height: 97px;
        }
    }
    &__headers {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 640px) {
              margin-left: 10px;
        }
    }
    &__title {
        @media screen and (max-width: 1000px) {
            font-size: 45px;
        }
        @media screen and (max-width: 740px) {
            font-size: 40px;
            margin-top: 36px;
        }
        @media screen and (max-width: 640px) {
            font-size: 35px;
        }
        @media screen and (max-width: 450px) {
            font-size: 32px;
        }
    }
    &__subtitle {
        margin-top: 20px;
        @media screen and (max-width: 1000px) {
            margin-top: 4px;   
        }
        @media screen and (max-width: 740px) {
            font-size: 40px;   
        }
        @media screen and (max-width: 640px) {
            font-size: 36px;
        }
        @media screen and (max-width: 640px) {
            font-size: 24px;
        }
    }
    &__undersubtitle {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1000px) {
            font-size: 73px;
            line-height: 60px;   
        }
        @media screen and (max-width: 740px) {
            font-size: 65px;   
        }
        @media screen and (max-width: 640px) {
            font-size: 45px;
            margin-top: -9px;
        }
        @media screen and (max-width: 640px) {
            font-size: 32px;
        }
    }
    &__form {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 560px;
        @media screen and (max-width: 1000px) {
            width: 503px;
        }
        @media screen and (max-width: 740px) {
            width: 446px;
        }
        @media screen and (max-width: 640px) {
            width: 403px;
        }
        @media screen and (max-width: 450px) {
            width: 300px;
            margin-left: 44px;
        }
    }
    &__input {
        display:flex;
        padding: 19px 0px 19px 22px;
        justify-content: center;
        align-items: center;
        border-radius: 60px;
        background: var(--white);
        @media screen and (max-width: 450px) {
            height: 48px;
        }
    }
    &__phone {
        margin-top: 20px;
    }
    &__comment {
        margin-top: 20px;
        min-height: 110px;
    }
    &__agreement {
        margin-top: 31px;
        @media screen and (max-width: 640px) {
            font-size: 10px;
        }
    }
    b {
        color: var(--green);
    }
    &__make-order-link {
        margin-top: 40px;
    }
    &__footer {
        background-image: url(/img/icons/heart.svg);
        margin-top: 48px;
        height: 19px;
    }
    &__make-order-link {
        @media screen and (max-width: 450px) {
            width: 300px;
            margin-left: -19px;
        }
    }
}

.application__input {
    &:nth-child(3) {
        border-radius: 20px; 
        @media screen and (max-width: 450px) {
            height: 110px;
        }
    }
}
