.catalog {
   &__slider-photo {
    width: 100%;
    @media screen and (max-width: 740px) {
        width: 65%;
    }
   }
   &__slider-img {
    width: 100%;
    @media screen and (max-width: 740px) {
        width: 99;
    }
   } 
   &__button-wrapper {
    display: flex;
    justify-content: center;
   }
   &__make-order-link {
    @media screen and (max-width: 740px) {
        width: 477px;
    }
   }
}

.glide {
    margin-top: 30px;
    &__slide {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }
}

.glide__arrow--right {
    right: 1.5em;
}

