.header {
    &__menu {
        display: flex;
        justify-content:space-between;
        align-items: flex-end;
        @media screen and (max-width: 640px) {
            padding-top: 11px;   
        }
        @media screen and (max-width:450px) {
            position: relative;
        }

    }
    &__menu-icon {
        cursor: pointer;
        display: none;
        margin-right: -91%;
        @media screen and (max-width:450px) {
            display: block;
        }
    }
    .logo__img {
        @media screen and (max-width: 1000px) {
            max-width: 87%;
        }
        @media screen and (max-width: 740px) {
                max-width: 75%;
        }
        @media screen and (max-width: 640px) {
            max-width: 68%;
        }   
    }
}

.menu-main {
    &__list {
        display: flex;
        @media screen and (max-width: 740px) {
            margin-left: -50px;
        }
        @media screen and (max-width:450px) {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            background-color: #333;
            width: 100%;
        }
    }
    &__item {
        cursor: pointer;
        color: var(--white);
        font-weight: 500;
        margin-right: 40px;
        list-style: none;
        text-decoration: none;
        &:last-child {
            margin-right: 0px;
        }
        :hover {
            color: var(--green);
            text-decoration-line: underline;
        }
        @media screen and (max-width: 1000px) {
            font-size: 14px;
        }
        @media screen and (max-width: 740px) {
            font-size: 11px;
            margin-right: 22px;
        }
        @media screen and (max-width: 640px) {
            font-size: 10px;
        }
    }
}

.menu-main.show {
    @media screen and (max-width:450px) {
        display: flex;
    }

}
.social-media {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
    @media screen and (max-width: 1000px) {
        column-gap: 16px;
    }
    @media screen and (max-width: 740px) {
        column-gap: 3px;
    }
    @media screen and (max-width: 640px) {
        column-gap: 0px;
    }
    @media screen and (max-width: 450px) {
        visibility: hidden;      
    }
    
    &__img {
        text-decoration: none;
        @media screen and (max-width: 1000px) {
            max-width: 89%;
        }
        @media screen and (max-width: 740px) {
            max-width: 77%;
        }
    }
}

.title {
    color: var(--white);
    font-weight: 300;
    text-align: start;
    margin-top: 70px;
    @media screen and (max-width: 1000px) {
        font-size: 40px;
    }
    @media screen and (max-width: 740px) {
        font-size: 34px;
    }
    @media screen and (max-width: 640px) {
        font-size: 31px;
    }
}

.subtitle {
    color: var(--white);
    font-weight: 400;
    margin-top: 15px;
    @media screen and (max-width: 1000px) {
        font-size: 70px;
        margin-top: 10px;
    }
    @media screen and (max-width: 740px) {
        font-size: 60px;
        margin-top: -3px;
    }
    @media screen and (max-width: 640px) {
         font-size: 54px;   
    }
}
