.header {
    max-width: 1440px;
    color: #FFF;
    background-image: url(/img/bg/bg-header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-color: #444237B2;
    background-blend-mode: multiply; 
}

