.header {
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.logo {
    &__img {
        max-width: 202px;
        min-height: 78px;
    }
}

.menu-main {
    &__list {
        display: flex;
    }
    &__item {
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-right: 40px;
        list-style: none;
        text-decoration: none;
        &:last-child {
            margin-right: 0px;
        }
    }
}
