.header {
    &__menu {
        display: flex;
        justify-content:space-between;
        align-items: flex-end;
        max-width: 100%;
        gap: 20px;
        @media screen and (max-width: 1031px) {
            gap: 16px;
        }
        @media screen and (max-width: 823px) {
            gap: 13px;
        }
        @media screen and (max-width: 767px) {
            padding: 0 15px 0 15px;   
        }
        @media screen and (max-width:450px) {
            position: relative;
        }

    }
    &__menu-icon {
        cursor: pointer;
        display: none;
        margin-right: -75%;
        @media screen and (max-width:450px) {
            display: block;
        }
    }
}

.header__menu {
    &-logo {
        width: 13%;
    }
}

.menu-main {
    @media screen and (max-width:450px) {
        display: none;
        position: fixed;
        top: 60px;
        left: -250px;
        background-color: #333;
        width: 250px;
        height: 100px;
        padding-top: 60px;
        transition: left 0.3s ease;
    }
    &__list {
        display: flex;
        @media screen and (max-width: 767px) {
            margin-left: -50px;
        }
    }
    &__item {
        cursor: pointer;
        color: var(--white);
        font-weight: 500;
        margin-right: 40px;
        list-style: none;
        text-decoration: none;
        &:last-child {
            margin-right: 0px;
        }
        :hover {
            color: var(--green);
            text-decoration-line: underline;
        }
        @media screen and (max-width: 1140px) {
            font-size: 1em;
        }
        @media screen and (max-width: 1024px) {
            font-size: 0.8em;
        }
        @media screen and (max-width: 823px) {
            font-size: 0.7em;
        }
        @media screen and (max-width: 767px) {
            font-size: 0.7em;
            
        }
        @media screen and (max-width: 640px) {
            font-size: 10px;
        }
    }
}

.menu-main.show {
    @media screen and (max-width:450px) {
        display: flex;
    }

}
.social-media {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
    width: 13%;
    @media screen and (max-width: 1024px) {
        column-gap: 16px;
    }
    @media screen and (max-width: 740px) {
        column-gap: 3px;
    }
    @media screen and (max-width: 640px) {
        column-gap: 0px;
    }
    @media screen and (max-width: 450px) {
        visibility: hidden;      
    }
    
    &__img {
        text-decoration: none;
        width: 100%;
        @media screen and (max-width: 1024px) {
            max-width: 89%;
        }
        @media screen and (max-width: 767px) {
            max-width: 77%;
        }
    }
}

.title {
    color: var(--white);
    font-weight: 300;
    text-align: start;
    margin-top: 70px;
    @media screen and (max-width: 1024px) {
        font-size: 43px;
    }
    @media screen and (max-width: 767px) {
        font-size: 34px;
        margin-left: 15px;
    }
    @media screen and (max-width: 640px) {
        font-size: 31px;
    }
}

.subtitle {
    color: var(--white);
    font-weight: 400;
    margin-top: 15px;
    @media screen and (max-width: 1024px) {
        font-size: 73px;
        margin-top: 10px;
    }
    @media screen and (max-width: 767px) {
        font-size: 60px;
        margin-top: -3px;
        margin-left: 15px;
    }
    @media screen and (max-width: 640px) {
         font-size: 54px;   
    }
    @media screen and (max-width: 450px) {
        font-size: 51px;  
        margin-top: 1%; 
   }
}
