.header {
    color: var(--white);
    background-image: url(/img/bg/bg-header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-color: var(--bg-green);
    background-blend-mode: multiply; 
    padding: 30px 0 0 0;
    &__footer {
        margin-top: 9%;
        background-image: url(/img/icons/heart.svg);
        height: 19px;
    }
}
