.history {
    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
      
        
    }
    &__desc {
        display: flex;
    }
    &__make-order-link {
        margin-top: 7px;
        min-width: 560px;
    }
    &__photo {
        width: 100%;
    }
    
}
.history-item {
    width: 87%;
    &__wrapper {
        position: relative;
    }
    &__desc {
        position: absolute;
        left: 50%;
        transform: translateX((-50%));
        top: 4%;
    }
   
    &__title { 
        color: #9EAF7C;
        text-align: center;
        color: var(--green);
        font-weight: 700;
    }
    &__subtitle {
        color: var(--black);
        text-align: center;
        font-weight: 300; 
    }
}


.photo__img {
    width: 100%;
}

