.history {
    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: 25px;
        flex-direction: column-reverse;
    }
    &__desc {
        margin: 10px 25px 0 0;
        display: flex;
        @media screen and (max-width: 1000px) {
            margin-right: -54px;
        }
        @media screen and (max-width: 740px) {
            margin-right: 0px;
            margin-left: 80px;
            margin-top: 51px;
        }
    }
    &__list {
        margin-right: 30px;
    }
    &__make-order-link {
        margin-top: 7px;
        min-width: 560px;
    }
    @media screen and (max-width: 740px) {
        margin-left: 85px;
    }
    
}

.history-item {
    &__wrapper {
        position: relative;
        min-width: 490px;
        min-height: 200px;
        @media screen and (max-width: 1000px) {
            min-width: 428px;
        }
    }

    &__oval {
        position: absolute;
        width: 480px;
        height: 126px;
        border:  1px solid #9EAF7C;
        border-radius: 50%;
        @media screen and (max-width: 1000px) {
            width: 439px;
        }
    }
    .oval-center {
        top:15px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: 1000px) {
            top: -2px;
            left: 44%;
        }
    }
    
    .oval-angle {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-10deg);
        @media screen and (max-width: 1000px) {
            top: 36%;
            left: 44%;
        }
    }
    
    .even {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(10deg);
        @media screen and (max-width: 1000px) {
            top: 36%;
            left: 44%;
        }

    }
    &__title { 
        color: #9EAF7C;
        text-align: center;
        color: var(--green);
        font-weight: 700;
    }
    &__subtitle {
        color: var(--black);
        text-align: center;
        font-weight: 300; 
    }
}

    .low-font {
        font-size: 50px;
    }

.photo__img {
    max-width: 561px;
    max-height: 683px;
    @media screen and (max-width: 1000px) {
        max-width: 463px;
    }
    @media screen and (max-width: 740px) {
        max-width: 561px;
        max-height: 683px;
    }
}

